* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 360px;
    height: 440px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    

}
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #221515;
}
h4 {
    text-align: center;
    margin-bottom: 10px;
}
.container form {
    width: 280px;
    position: absolute;
    top: 80px;
    left: 40px;
    line-height: 20px;
    transition: 0.5s;
}
form input {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}
select {
    width: 100px;
    height:25px ;
    margin-top: 10px;
}
select option {
    color: #a06e6e;
}
::placeholder {
    color: #a06e6e;
}
.button {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button {
    width: 100px;
    height: 28px;
    margin: 0 10px;
    background: linear-gradient(to right, #6810ff, #ffad06);
    border-radius: 25px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
form button:hover {
    background: rgb(234, 138, 14);
}
#form2 {
    left: 450px;
}
#form3 {
    left: 450px;
}